defaults:
  - _self_
  - model: catboost
  - features: standard_v1
  - weekly_bets: default
  - experiment: null

data:
  adjustment_iteration: 2
  adjustment_iteration_offense: null
  adjustment_iteration_defense: null

hydra:
  run:
    dir: artifacts/mlruns/${now:%Y-%m-%d}/${now:%H-%M-%S}
  sweep:
    dir: artifacts/mlruns/${now:%Y-%m-%d}/${now:%H-%M-%S}
    subdir: ${hydra.job.num}

paths:
  root_dir: ${oc.env:PWD}
  data_dir: ${oc.env:CFB_DATA_ROOT,${oc.env:CFB_MODEL_DATA_ROOT,${paths.root_dir}/data}}
  artifacts_dir: ${paths.root_dir}/artifacts
  reports_dir: ${paths.artifacts_dir}/reports
  models_dir: ${paths.artifacts_dir}/models

random_seed: 42
target: spread_target # default target
test_years: [2024]
