defaults:
  - _self_
  - paths: default
  - model: catboost
  - features: standard_v1
  - weekly_bets: default
  - experiment: null

data:
  adjustment_iteration: 2
  adjustment_iteration_offense: null
  adjustment_iteration_defense: null
  train_years: [2019, 2021, 2022, 2023]
  test_year: 2024

random_seed: 42
